.front-page-title {
  color:black;
  font-size: 50px;
  padding: 100px;
}

.front-page {
   background: url("http://i.huffpost.com/gen/3001890/images/o-BATHROOM-SIGN-facebook.jpg");
   background-size:cover;
   width:100%;
   height: 800px;
   background-repeat: no-repeat;
}
#rating {
  display: none;
}

.vertical_nav {
    /*text-align: right;*/
    display: block;
    width: 200px;
    height: 800px;
    background-color: white;
    border: 1px solid black;
    margin-right: 5px;
    overflow: scroll;
}

#map {
 left:202px;
}

#toilet_divider {
/*  border-bottom: 1px;
  border-top: 1px;
  border-right: 5px;*/
}

.btn {
  background-color: #1E90FF;
  border: #1E90FF;
  color:white ;
  border-radius: 25px;
  padding:10px;
  margin:5px;
  font-size: 40px;
}

a:link {
    text-decoration: none;
    font-weight:bold;
    color:#1E90FF;
}

/* visited link */
a:visited {
    color: #1E90FF;
}

/* mouse over link */
a:hover {
    color:#E9967A;
}

/* selected link */
a:active {
    color: black;
}


.sidebar {
  position:absolute;
  width:25%;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}
.pad2 {
  padding:20px;
}
.quiet {
  color:#888;
}
#map {
  position:absolute;
  left:25%;
  width:75%;
  top:0;bottom:0;
}
.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  height:60px;
  line-height:60px;
  padding:0 10px;
  text-align: center;
  font-size:25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:#10476c;
}
.listing {
  height:100%;
  overflow:auto;
  padding-bottom:60px;
}
li {
  list-style-type:none;
}

/*.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}
.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#00853e;
  font-weight:700;
}
.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}*/

::-webkit-scrollbar {
  width:6px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#E9967A;
  border-radius:0;
}

hr {
  color: #A9A9A9;
}