body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../publicrestroom.jpg");
  background-size:cover;
  width:100%;
  height: 800px;
  background-repeat: no-repeat;
}

.front-page-title {
  color:black;
  font-size: 50px;
  padding: 100px;

}

.front-page {
  background-image: url("../publicrestroom.jpg");
  background-size:cover;
  width:100%;
  height: 800px;
  background-repeat: no-repeat;
}
#rating {
  display: none;
}

.vertical_nav {
  /*text-align: right;*/
  display: block;
  width: 200px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
  margin-right: 5px;
  overflow: scroll;
}

#map {
 left:202px;
}

#toilet_divider {
/*  border-bottom: 1px;
  border-top: 1px;
  border-right: 5px;*/
}

.btn {
  background-color: #10476c;
  border: #10476c;
  color:#E9967A;
  border-radius: 25px;
  padding:10px;
  margin:5px;
  font-size: 30px;
}

#form {
  display: none;
}

a:link {
  text-decoration: none;
  font-weight:bold;
  color:#E9967A;
}

/* visited link */
a:visited {
  color: #98c2ab;
}

/* mouse over link */
a:hover {
  color:#98c2ab;
}

/* selected link */
a:active {
  color: black;
}

.sidebar {
  position: absolute;
  width:25%;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
.pad2 {
  padding:20px;
}
.quiet {
  color:#888;
}
#map {
  position:absolute;
  left:25%;
  width:75%;
  top:0;bottom:0;
}
.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  height:110px;
  line-height:60px;
  padding:0 10px;
  text-align: center;
  font-size:25px;
  font-family: 'Roboto', sans-serif;
  color:#10476c;
  display: block;
}
.listing {
  height:100%;
  overflow:auto;
  padding-bottom:60px;
}
li {
  list-style-type:none;
}

/*.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}
.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#00853e;
  font-weight:700;
}
.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}*/

::-webkit-scrollbar {
  width:8px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#E9967A;
  border-radius:0;
}

hr {
  color: #A9A9A9;
}


input[type="submit"]:hover {
    background-color: #98c2ab ;
    color:#000;
}

.show-toilets{
  margin:20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  background-color: white;
}

.title{
  margin: 0;
}