<div class="front-page">
  <section class="front-page-title">

    <h2>Skip to My Loo</h2>
    <h4>Find a bathroom near you</h4>

    <form action="/toilets" method="get">
      <input class="btn" type="submit" value="Show Map">
    </form>

    <%= flash[:errors] %>
    <% if current_user %>

      <form action="sessions/<%= current_user.id %>" method="post">
        <input type= "hidden" name="_method" value="delete">
        <input class="btn" type="submit" value="Log Out">
      </form>

    <% else %>

      <form action="/sessions/new" method="get">
        <input class="btn" type="submit" value="Log In with Google">
      </form>

      <form action="/users/new" method="get">
        <input class="btn" type="submit" value="Sign Up with Google">
      </form>
      
    <% end %>
  </section>
</div>