<a href="/sessions/new">log in!</a>
<a href="/users/new">sign up!</a>

<%= flash[:errors] %>
<% if current_user %>
  <form action="sessions/<%= current_user.id %>" method="post">
    <input type= "hidden" name="_method" value="delete">
    <input type="submit" value="log out">
  </form>
<% end %>
