<div class='sidebar'>

<!-- <nav class="vertical_nav"> -->

<div class='heading'>
<h3>Restrooms!</h3>
</div>

<div id='listing' class='listing'>

<% @toilets.each do |toilet| %>
<% if toilet.ratings %>

<ul class="location_divider" id="toilet_divider">

  <h4>
    <a href="/toilets/<%=toilet.id%>"><%=toilet.location%></a>
  </h4>
  <li>Average Rating: <%= toilet.ratings.average('stars').round(1).to_f %></li>
  <li>Changing Table:
    <% if toilet.has_change_tables %>
      Yes
    <%else%>
      No
    <%end%>

  </li>

  <hr>
</ul>

<% end %>

<%end%>

<!-- </nav> -->
</div>

</div>